.App {
  text-align: center;
}

.App-logo {
  height: 32vmin;
  pointer-events: none;
}

.welcome-design {
  color: #3b444b;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

.App-link {
  color: #61dafb;
}


p {
  margin: 0;
}

button {
  background-color: #0096FF;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 15%;
  margin-top: 20px;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 14px;
}